/* frontend/src/index.css */

/* == Reset & Variabel Global == */
:root {
  --primary-color: #0d47a1; 
  --primary-color-light: #1565c0;
  --primary-color-link: #007bff;
  --success-color: #008a4c;
  --warning-color: #f0a000;
  --danger-color: #ff243a;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --text-light: #ffffff;
  --text-muted: #6c757d;
  --sidebar-width: 260px;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  --header-height: 65px; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7f6; /* Latar belakang konten (abu-abu muda) */
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--primary-color-link);
}